*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-neutral-900: 20, 29, 47;
  --color-neutral-800: 30, 42, 71;
  --color-neutral-700: 43, 52, 66;
  --color-neutral-500: 75, 106, 155;
  --color-neutral-300: 105, 124, 154;
  --color-neutral-200: 144, 164, 212;
  --color-neutral-100: 246, 248, 255;
  --color-neutral-000: 255, 255, 255;
  --color-blue-300: 96, 171, 255;
  --color-blue-500: 0, 121, 255;
  --color-red-500: 247, 70, 70;
}

:root.light {
}

:root.dark {
}
