%radius-4 {
  border-radius: 0.25rem;
}

%radius-6 {
  border-radius: 0.375rem;
}

%radius-8 {
  border-radius: 0.5rem;
}

%radius-10 {
  border-radius: 0.625rem;
}

%radius-12 {
  border-radius: 0.75rem;
}

%radius-16 {
  border-radius: 1rem;
}

%radius-20 {
  border-radius: 1.25rem;
}

%radius-24 {
  border-radius: 1.5rem;
}

%radius-full {
  border-radius: 999rem;
}
