%shadow-primary {
  box-shadow: 0 1rem 1.875rem -0.625rem var(--shadow-color-primary);
}

%focus-styles {
  outline: 0.125rem solid var(--color-blue-500);
  outline-offset: 0.125rem;
}

%focus {
  &:focus {
    @extend %focus-styles;
  }
}

%focus-visible {
  &:focus-visible {
    @extend %focus-styles;
  }
}

.unavailable {
  opacity: 0.7;
}
